<?xml version='1.0' encoding='utf-8'?>
<widget id="io.abkorim.TARKIZ" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TARKIZ</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- app icon -->
    <icon src="www/appassets/128x128.png" />

    <!-- splash screen -->
    <splash src="www/appassets/splash.png" />


    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="50"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>


</widget>
